.SearchBox {
  display: flex;
  width: 18em;
  height: 14em;
  flex-direction: column;
  background-color: aliceblue;
  border: 1px black;
  border-radius: 20px;
  justify-content: center;
  margin: 1% 5%;
}

.character {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.characterArea {
  display: flex;
  flex-direction: column;
  padding-top: 0.5%;
  padding-bottom: 0.5em;
}

.selection {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  justify-content: space-around;
}

.submitArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
}

.submitButton {
  display: flex;
  background-color: #282c34;
  border-radius: 18px;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  padding: 3% 5%;
  text-decoration: none;
  transition: 0.3s;
}
.submitButton:hover {
  background-color: #476e9e;
}
