.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 1;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.content {
  display: flex;
  flex: 100;
  flex-direction: row;
}